<div class="container">
  <% if flash[:notice] %>
    <h3 class="text-center mt-2" style="color:red" id="notice">
      <%= flash[:notice] %>
    </h3>
  <% end %>
  <h1 class="mb-5"><%= @event.name %></h1>
  <div class="row">
    <div class="col-8">
      <div class="card mb-4">
        <h5 class="card-header" >イベント内容</h5>
        <div class="card-text">
          <p class="mt-3"><%= @event.introduction %></p>
        </div>
      </div>

      <div class="card mb-4">
        <h5 class="card-header">開催時間</h5>
        <div class="card-text">
          <p class="mt-3"><%= l(@event.start_at, format: :long) %> ~ <%= l(@event.end_at, format: :long) %> </p>
        </div>
      </div>

      <div class="card mb-4">
        <h5 class="card-header">開催場所</h5>
        <div class="card-text">
          <p class="mt-3"><%= @event.place %></p>
        </div>
      </div>

      <div class="card mb-2">
        <h5 class="card-header">主催者</h5>
        <div class="card-text">
          <p class="mt-3"><%= link_to @event.user.name, user_path(@event.user) %></p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <!--イベントの主催者が現在のユーザー。かつ、イベントの開催日時が現在の日時以降-->
      <% if @event.user == current_user && @event.start_at > Time.zone.now %>
        <%= link_to "イベントを編集する", edit_event_path(@event.id), class: "btn btn-info btn-lg btn-block" %>
        <%= link_to "イベントを削除する", event_path(@event.id), class: "btn btn-danger btn-lg btn-block ", method: :delete, "data-confirm" => "本当に削除しますか？" %>
      <% end %>

      <!--現在のユーザーのコメントがない。サインインしている。イベントの開催日時が現在の日時以降-->
      <% if user_signed_in? && @applied_user_ticket_comment.blank? && @event.start_at > Time.zone.now %>
        <button type="button" class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#createTicket">
          参加する
        </button>

        <div class="modal fade" id="createTicket">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">参加コメント</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <%= form_with(model:[@event,@ticket_comment], local: true) do |f| %>
                <div class="modal-body">
                  <% if @event.errors.any? %>
                    <ul>
                      <% @event.errors.full_messages.each do |message| %>
                        <li style="color:red">
                          <%= message %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
                  <%= f.text_field :comment, class: "form-control", placeholder: "コメントをここに" %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                  <%= f.submit "送信", class: "btn btn-primary" %>
                </div>
              <% end %>

            </div>
          </div>
        </div>
      <!--イベントの開催日時が現在の日時以降-->
      <% elsif @event.start_at > Time.zone.now %>
        <%= link_to "参加をキャンセルする", event_ticket_comment_path(@event), method: :delete, "data-confirm" => "本当にキャンセルしますか？", class: "btn btn-danger btn-block btn-lg" %>
      <% end %>
      <hr>
      <div class="card mb-2">
        <h5 class="card-header">参加者<%= @event.ticket_comments.count %>名</h5>
        <ul class="list-group list-group-flush">
          <% @event.ticket_comments.each do |ticket_comment| %>
            <li class="list-group-item">
              <%= link_to user_path(ticket_comment.user) do %>
                <%= attachment_image_tag ticket_comment.user, :profile_image, :fill, 40, 40, format: "jpeg", fallback: "no_image.jpg", size:'40x40' %>
              <% end %>
              <%= link_to ticket_comment.user.name, user_path(ticket_comment.user) %> : <%= ticket_comment.comment %>
            </li>
          <% end %>
        </ul>
      </div>

      <!--イベントの終了日時が現在の日時よりも前の場合-->
      <% if @event.end_at < Time.zone.now %>
        <div class="card mb-2">
          <h5 class="card-header">コメント<%= @event.event_comments.count %>件</h5>
          <ul class="list-group list-group-flush">
            <% @event.event_comments.each do |event_comment| %>
              <li class="list-group-item">
                <%= event_comment.user.name %>:
                <%= event_comment.comment %>
                <% if event_comment.user == current_user %>
                  <div class="comment-delete">
                    <%= link_to "削除", event_event_comment_path(event_comment.event, event_comment), method: :delete %>
                  </div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <%= form_with(model:[@event,@event_comment], local: true) do |f| %>
          <%= f.text_field :comment, class: "form-control", placeholder: "コメントをここに" %>
          <%= f.submit "送信", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>